[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
sphinx = "*"
sphinxcontrib-inlinesyntaxhighlight = "*"
pylint = "*"
recommonmark = "*"

[packages]
jupyter = "*"
jupyterlab = "*"
papermill = "*"
apache-airflow = {extras = ["celery", "kubernetes", "mysql", "password", "slack"],version = "*"}
celery = "*"
mysqlclient = "*"
tweepy = "*"
numpy = "*"
pandas = "*"
hypothesis = "*"
matplotlib = "*"
seaborn = "*"
mysql-connector-python = "*"

[requires]
python_version = "3.7"
