[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
sphinx = "*"
sphinxcontrib-inlinesyntaxhighlight = "*"
pylint = "*"
jinja2 = ">=2.10.1"

[packages]
apache-airflow = "*"
jinja2 = "*"

[requires]
python_version = "3.7"
